<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyun.twitter.follow.mapper.FollowMapper">

    <resultMap id="FollowResultMap" type="com.hyun.twitter.follow.entity.Follow">
        <id column="follow_id" property="followId"/>
        <result column="follower_id" property="followerId"/>
        <result column="following_id" property="followingId"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="findByFollowId" parameterType="long" resultMap="FollowResultMap">
        SELECT * FROM follows WHERE follow_id = #{followId}
    </select>

    <insert id="followUser" parameterType="com.hyun.twitter.follow.entity.Follow">
        INSERT INTO follows (follower_id, following_id, created_at)
        VALUES (#{followerId}, #{followingId}, #{createdAt})
    </insert>

    <delete id="unfollowByUserId">
        DELETE FROM follows
        WHERE follower_id = #{followerId} AND following_id = #{followingId}
    </delete>

    <select id="findFollowingsByUserId" parameterType="long" resultType="long">
        SELECT following_id
        FROM follows
        WHERE follower_id = #{userId}
    </select>

    <select id="findFollowersByUserId" parameterType="long" resultType="com.hyun.twitter.user.entity.User">
        SELECT u.*
        FROM follows f
                 JOIN users u ON f.follower_id = u.user_id
        WHERE f.following_id = #{userId}
    </select>

</mapper>