<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyun.twitter.passwordHistory.mapper.PasswordHistoryMapper">

    <resultMap id="PasswordHistoryResultMap" type="com.hyun.twitter.passwordHistory.entity.PasswordHistory">
        <id column="history_id" property="historyId" />
        <result column="user_id" property="userId" />
        <result column="password_hash" property="passwordHash" />
        <result column="changed_at" property="changedAt" />
    </resultMap>

    <insert id="addPasswordHistory" parameterType="com.hyun.twitter.passwordHistory.entity.PasswordHistory">
        INSERT INTO password_history
            (user_id, password_hash, changed_at)
        VALUES (#{userId}, #{passwordHash}, #{changedAt})
    </insert>

    <select id="findRecentPasswords" parameterType="long" resultMap="PasswordHistoryResultMap">
        SELECT * FROM password_history
        WHERE user_id = #{userId}
        ORDER BY changed_at DESC
            LIMIT 3
    </select>

</mapper>