<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyun.twitter.post.mapper.PostMapper">
    <select id="findById" parameterType="long" resultType="com.hyun.twitter.post.entity.Post">
        SELECT * FROM Posts WHERE post_id = #{postId}
    </select>
    <insert id="addPost" parameterType="com.hyun.twitter.post.entity.Post">
        insert into Posts
        (post_id,
         user_id,
         title,
         content,
         img_url,
         created_at)
        values(
                  #{postId},
                  #{userId},
                  #{title},
                  #{content},
                  #{imgUrl},
                  #{createdAt}
              )
    </insert>

    <update id="updatePost" parameterType="com.hyun.twitter.post.entity.Post">
        update Posts
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="imgUrl != null">imgUrl = #{imgUrl},</if>
        </set>
        where post_id = #{postId}
    </update>
</mapper>