<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyun.twitter.user.mapper.UserMapper">
    <insert id="addUser" parameterType="com.hyun.twitter.user.entity.User">
        insert into Users
        (user_id,
         username,
         bio,
         email,
         password,
         created_at,
         role)
        values(
               #{userId},
               #{username},
               #{bio},
               #{email},
               #{password},
               #{createdAt},
               #{role}
              )
    </insert>
    <update id="updateUser" parameterType="com.hyun.twitter.user.entity.User">
        update Users set
                         username = #{username},
                         bio = #{bio},
                         password = #{password}
        WHERE user_id = #{userId}
    </update>
    <select id="findById" parameterType="long" resultType="com.hyun.twitter.user.entity.User">
        SELECT * FROM Users WHERE user_id = #{userId}
    </select>
</mapper>


